/*----------------------------
------------Global------------
------------------------------*/

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #EBEBEB;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.header-title,
.header-profile-link,
.link {
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
a {
  /*padding: 10px 5px;*/
}
h1,
h2 {
  font-size: 35px;
  font-weight: 700;
}

/*----------------------------
------------Header------------
------------------------------*/
header {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 200px;
}

/* Title */
.header-title {
  padding-left: 30px;
  background-image: url("assets/svg/hero-bond.svg");
  background-position: 0px 0%;
  background-size: 20px;
}

.title-text {
  display: inline-block;
  color: white;
}

/* User Profile */
.header-profile-link {
  display: inline-block;
  height: 40px;
  background-image: url("assets/svg/007.svg");
  background-position: 0px 50%;
  background-size: 30px;
}

.header-profile-link:visited {
  color: #1AA4FF;
}

.username {
  display: inline-block;
  margin-left: 35px;
  font-size: 15px;
  line-height: 40px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  transition: .2s ease-in-out;
}

.username:hover {
  color: white;
}

.down-arrow {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid #1AA4FF;
  transition: .2s ease-in-out;
}

.down-arrow:hover {
  border-top-color: white;
  cursor: pointer;
}


/* Navigation links*/
nav {
  height: 100%;
}

.header-links {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link {
  background-position: 0px 50%;
  background-size: 15px;
  text-align: left;
  color: #8B8B8B;
  font-size: 14px;
  transition: .2s ease-in-out;
}

.link p {
  margin: 5px 0 5px 25px;
}

.link:hover {
  color: white;
  cursor: pointer;
}

.share {
  background-image: url('assets/svg/share.svg');
}

.playlist {
  background-image: url('assets/svg/list.svg');
}

.video {
  background-image: url('assets/svg/avatar.svg');
}

.share:hover {
  background-image: url('assets/svg/share-hover.svg');
}

.playlist:hover {
  background-image: url('assets/svg/list-hover.svg');
}

.video:hover {
  background-image: url('assets/svg/avatar-hover.svg');
}

/*----------------------------
---------Main Section---------
------------------------------*/
main {
  width: 100%;
}

h2 {
  font-size: 35px;
  margin: 30px 10px 10px;
}

/* Card */
.card-container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.card {
  max-width: 400px;
  border: 1px solid #8B8B8B;
  background-color: white;
  margin: 10px .5%;
  flex-grow: 1;
}

.card-header {
  height: 150px;
  padding: 20px 5%;
  opacity: 1.2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
  position: relative;
}

.card1 .card-header {
  background-image: url('assets/profiles/barry-nelson.jpg');

}

.card2 .card-header {
  background-color: #8B8B8B;
  background-image: url('assets/profiles/david-niven.jpg');
  background-size: contain;
  background-position-x: 55%;
}

.card3 .card-header {
  background-image: url('assets/profiles/sean-connery.jpeg');
}

.card4 .card-header {
  background-image: url('assets/profiles/george-lazenby.png');
}

.card5 .card-header {
  background-image: url('assets/profiles/roger-moore.jpg');
}

.card6 .card-header {
  background-image: url('assets/profiles/timothy-dalton.jpg');
  background-position-x: 70%;
}

.card7 .card-header {
  background-image: url('assets/profiles/pierce-brosnan.jpg');
}

.card8 .card-header {
  background-image: url('assets/profiles/daniel-craig.jpg');
}

.forward-arrow {
  padding: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: white;
  background-image: url('assets/svg/forward-arrow.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: 1s ease-in-out;
}

.forward-arrow:hover {
  background-image: url('assets/svg/gun.svg');
  transform: rotate(360deg);
}

.views-box {
  display: inline-block;
  float: right;
  text-align: center;
}

.views-title {
  font-size: 12px;
  color: white;
}

.views-count {
  font-size: 28px;
  color: white;
}

/* Card Content */
.card-content {
  padding: 10px 5%;
  min-height: 260px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-content h3,
.card-name {
  font-weight: 500;
  font-size: 16px;
  color: #3A3A3A;
}

.card-date {
  font-size: 12px;
  color: #8B8B8B;
}

.card-link {
  padding: 10px;
  font-size: 12px;
  background-color: #EBEBEB;
  overflow-wrap: break-word
}

a:visited {
  color: #8B8B8B;
}


.card-content h4,
.attachments-title {
  font-weight: 300;
  font-size: 12px;
}

.attachments-count {
  font-size: 28px;
  color: #1AA4FF;
}


/*----------------------------
---------Media Queries--------
------------------------------*/


@media (min-width: 600px){
  header {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    height: auto;
  }

  .title-box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 5px;
  }

  .header-links {
    padding-bottom: 0px;
  }
  .card {
    width: 40%;
  }
}

@media (min-width: 900px){
  .card-container {
    max-width: 1300px;
  }

  .card {
    width: 22%;
    max-width: 250px;
  }
}
