/*--------Global Selectors-------*/

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.header-title,
.header-profile-link,
.link {
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
a {
  /*padding: 10px 5px;*/
}
h1,
h2 {
  font-size: 35px;
}

/*------------Header------------*/
header {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Title */
.header-title {
  background-image: url("assets/svg/linux-logo.svg");
  background-position: 90px 50%;
  background-size: 25px;
}

.title-text {
  display: inline-block;
  color: white;
}

/* User Profile */
.header-profile-link {
  display: inline-block;
  height: 40px;
}

h4 {
  display: inline-block;
  margin-left: 25px;
  font-size: 15px;
  line-height: 40px;
}

.header-profile-link {
  background-image: url("assets/svg/avatar.svg");
  background-position: 0px 50%;
  background-size: 15px;
}

.header-profile-link:visited {
  color: #1AA4FF;
}

.down-arrow {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid #1AA4FF;
}


/* Navigation links*/
nav {
  height: 100%;
}

.header-links {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link {
  background-position: 0px 50%;
  background-size: 15px;
  text-align: left;
}

p {
  font-size: 15px;
  color: #8B8B8B;
  margin: 5px 0 5px 25px;
}

.share {
  background-image: url('assets/svg/share.svg');
}

.playlist {
  background-image: url('assets/svg/list.svg');
}

.video {
  background-image: url('assets/svg/avatar.svg');
}



/*--------Main Section-------*/
main {
  padding: 10px;
}

h2 {
  font-size: 35px;
}

/* Card */
.card-container {
  border: 1px solid grey;
}

/* Card Header */
.card-header {
  background-image: url('assets/bond.jpg');
  background-size: cover;
  height: 150px;
}

.forward-link {
  width: 30px;
  background-color: white;
  border-radius: 50%;
}
